<ul id="scroller">
  <% flicks.forEach(function(flick) { %>
    <li class="pics"><img src="http://farm<%= flick.farm %>.staticflickr.com/<%= flick.server %>/<%= flick.id %>_<%= flick.secret %>_z.jpg" width="350" height="350"></li>
  <% }); %>
</ul>        

<% twits.forEach(function(tweet) { %>
  <div class="card">
    <p><span class="user"><%= currentUser.username %></span></p>
    <p><span class="query"><%= q %></span>, 2016</p>
    <p>The Artr</p>
    <p><span class="statement"><%= tweet.text %></span></p>
  </div>
<% }); %>

<button type="button" class="saveArt btn btn-success">Save Art</button>
