<% flicks.forEach(function(flick) { %>
  <div class ="pics">
    <p><img src="http://farm<%= flick.farm %>.staticflickr.com/<%= flick.server %>/<%= flick.id %>_<%= flick.secret %>_z.jpg" /></p>
  </div>
<% }); %>


<% twits.forEach(function(tweet) { %>
  <div class="card">
    <p>Artist: <span class="user"> <%= currentUser.username %> </span></p>
    <p>Title: <span class="query"> <%= q %></span>, 2016</p>
    <p>Medium: The Artr</p>
    <p>Artist statement: <span class="statement"> <%= tweet.text %></span></p>
  </div>
<% }); %>

<button type="button" class="saveArt btn btn-success">Save Art</button>
