<div>
  <% flicks.forEach(function(flick) { %>
    <p><img src="http://farm<%= flick.farm%>.staticflickr.com/<%= flick.server %>/<%= flick.id %>_<%= flick.secret %>.jpg"></p>
     <% }); %>
</div>

<div>
  <% twits.forEach(function(tweet) { %>
    <p><%= tweet.statuses.user.name %></p>
    <p><%= query %>, 2016</p>
    <p>The Artr</p>
    <p>Artist statement:<%= tweet.statuses.text %></p>
     <% }); %>
</div>
